<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>作者:陈柳青</title>
<link rel="shortcut icon" href="static/favicon.png">

    <body >
        <h1 class="huge-title" style="margin:10px 50px;">
            <a href="/" style=""><strong> <- 返回主页 </strong>  </a>
        </h1>
        <div align="center">
            <image align="center" src={{img_path}} alt="image show place" style="height:90vh;">

        </image>
        </div>
    </body>

</html>
